<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml>
<!--[if lt IE 7 ]> <html lang="es" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="es"> <!--<![endif]-->
    <head>

        <!-- Basic Page Needs
          ================================================== -->
        <title>Diriangen Consultorio Medico | Dra. Rosa</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="¡Para Sentirse Bien!"/>
        <meta name="keywords" content="carpool, artois, lgi2a" />
        <meta name="author" content="Łukasz Holeczek from creativeLabs">

        <!-- Mobile Metas
          ================================================== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="MobileOptimized" content="320" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width,initial-scale=0.8" />

        <meta property="og:title" content="Webdesign: websites, webshops en webplications – Multimedium">
        <meta property="og:description" content="We bouwen een pareltje van een website, een succesvolle webshop of een renderende webtoepassing. Onze webdesign professionals wachten op jouw uitdaging.">
        <meta property="og:image" content="http://www.multimedium.be/application/resources/images/logo.png">
        <meta property="og:type" content="article">

        <!-- CSS
          ================================================== -->
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link rel="stylesheet" href="css/main.css">
        <noscript><link rel="stylesheet" type="text/css" href="css/nojs.css" /></noscript>
        <!--[if IE]>
                <meta http-equiv="cleartype" content="on" />
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <link rel="stylesheet" type="text/css" href="CSS/desktop_ie.css"/>
        <![endif]-->

        <!-- Le Google Fonts
          ================================================== -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

        <!-- Le Favicons
          ================================================== -->
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57x57-precomposed.png" />
        <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
        <link rel="icon" href="img/favicon.png" type="image/png" />

        <!-- Le Javascripts
          ================================================== -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.js"><\/script><script src="js/vendor/bootstrap.min.js"><\/script><script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"><\/script><script src="js/vendor/jquery-easing/jquery.easing.min.js"><\/script>')</script>
        <script src="js/jquery.cslider-ck.js"></script>
        <script src="js/main.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Main Navbar
          ================================================== -->
        <header >
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Menu</a>
                </div><!--/.navbar-header -->

                <div id="top-menu" class="container">
                    <!--logo-->
                    <div id="logo">
                        <a href="#"><img src="img/logo-big.png" alt="logo-big"/></a>
                    </div>
                    <!--social and address-->
                    <div id="ambos">
                        <div id="buttons">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-user"></span> &nbsp;Identificate
                            </a>
                        </div>
                        <div class="social">
                            <a href="https://www.facebook.com/ "><h4>f</h4></a>
                            <a href="https://www.plus.google.com/ "><h4>h</h4></a>
                            <a href="https://www.linkedin.com/ "><h4>i</h4></a>
                            <a href="https://www.twitter.com/ "><h4>t</h4></a>
                            <a href="https://www.youtube.com/ "><h4>y</h4></a>
                        </div>
                        <address>
                            <abbr title="Telefono">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </abbr>
                            <strong>Cita telefónica: </strong>
                            <a href="tel:46294792">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;629-4792</a>
                            <br />

                            <abbr title="Celular">
                                <span class="glyphicon glyphicon-phone"></span>
                            </abbr>
                            <strong>Celular: </strong>
                            <a href="tel:6644426994">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(664) 442-6994</a>
                            <br />

                            <abbr title="Direccion">
                                <span class="glyphicon glyphicon-map-marker"></span>:
                            </abbr>
                            &nbsp;Calle de la Guaydoma 6105, Fracc. Las Am&eacute;ricas.
                            <br />
                        </address>
                    </div><!--/#top-menu -->
                </div>

                <nav id="secondary-menu">
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <ul class="nav nav-justified">
                                <li><a href="#">Conozca la Cl&Iacute;nica</a></li>
                                <li><a href="#">Servicios M&Eacute;dicos</a></li>
                                <li><a href="#">Pedir Cita Online</a></li>
                                <li><a href="#">Consejos M&Eacute;dicos</a></li>
                                <li><a href="#">¿Donde Estamos?</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->

                        <div id="sub-menu" >
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm pull-right">
                                <span class="glyphicon glyphicon-user"></span>
                                Identificate
                            </a>
                            <a href="#" class="btn btn-primary btn-sm pull-right">
                                <span class="glyphicon glyphicon-calendar"></span>
                                Haz una Cita
                            </a>
                        </div><!--/ #sub-menu -->

                    </div>
                </nav><!--/ #secondary-menu -->

            </div>
        </header>

        <!-- Hero
        ================================================== -->
        <section id="hero">
            <div class="container">
                <h1>Área Restringida</h1>
                <p>Solo personal autorizado.</p>
            </div>
        </section>

        <!-- Content
        ================================================== -->
        <section id="content" data-speed="4" data-type="background">
            <div class="container">
                <form class="form-signin">
                    <h2 class="form-heading">Porfavor Identificate</h2>
                    <hr />
                    <input type="text" class="form-control" placeholder="Ususario" autofocus>
                    <input type="password" class="form-control" placeholder="Contraseña">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Recuerdame
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                </form>

            </div> <!-- /container -->
        </section>

        <!-- Footer
          ================================================== -->
        <footer>
            <div class="container">
                <div class="uno">
                    <img src="img/logo-big.png" alt="logo"/>
                    <hr />
                    Conmigo podras encontrar los servicios médicos que necesitas.<br />
                    <!--                    <strong>REDES SOCIALES:</strong><br />
                                        <hr />-->
                    <address>
                        <abbr title="Hacer cita"><span class="glyphicon glyphicon-calendar"></span>:</abbr>
                        &nbsp;<a href="#">Reservar cita online</a><br />
                        <abbr title="Contactar"><span class="glyphicon glyphicon-question-sign"></span>:</abbr>
                        &nbsp;<a href="#">Preguntas</a>
                    </address>
                </div>
                <div class="dos">
                    <strong>HORARIO DE ATENCI&Oacute;N:</strong><br />
                    <hr />
                    <address>
                        <abbr title="Hora"><span class="glyphicon glyphicon-time"></span>:</abbr>
                        &nbsp;Lunes a Viernes de 9:00 a.m. a 3:00 p.m.<br />
                    </address>
                    <!--                    <strong>CONT&Aacute;CTAME:</strong><br />
                                        <hr />-->
                </div>
                <div class="tres">
                    <strong>DRA. ROSA MORA GUTIERREZ</strong><br />
                    <hr />
                    <address>
                        <abbr title="Direccion"><span class="glyphicon glyphicon-map-marker"></span>:</abbr>
                        &nbsp;Calle de la Guaydoma No. 6105<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fraccionamiento las Am&eacute;ricas <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tijuana B. C. M&eacute;xico 22215 <br />
                        <abbr title="Telefono"><span class="glyphicon glyphicon-phone-alt"></span>:</abbr>
                        <a href="tel:46294792">&nbsp;629-4792</a><br />
                        <abbr title="Celular"><span class="glyphicon glyphicon-phone"></span>:</abbr>
                        <a href="tel:6644426994">&nbsp;(664) 442-6994</a><br />
                        <abbr title="Correo Electronico"><span class="glyphicon glyphicon-envelope"></span>:</abbr>
                        <a href="mailto:#">&nbsp; rosamoragutierrez@gmail.com</a>
                        <div class="social">
                            <a href="https://www.facebook.com/ "><h4>f</h4></a>
                            <a href="https://www.plus.google.com/ "><h4>h</h4></a>
                            <a href="https://www.linkedin.com/ "><h4>i</h4></a>
                            <a href="https://www.twitter.com/ "><h4>t</h4></a>
                            <a href="https://www.youtube.com/ "><h4>y</h4></a>
                        </div><br />
                    </address>
                </div>
            </div>
            <hr />
            <div class="sub-footer">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="#"><span data-hover="Home">Home</span></a></li>
                        <li><a href="#about"><span data-hover="About">About</span></a></li>
                        <li><a href="#contact"><span data-hover="Contact">Contact</span></a></li>
                        <li><a href="#"><span data-hover="Dropdown">Dropdown</span></a></li>
                    </ol>
                    <p>
                        <a href="#">Aviso Legal</a> &nbsp;|&nbsp;
                        &copy; 2013 Consultorio M&eacute;dico Diriangen. All Rights Reserved. &nbsp;|&nbsp; Design by <a href="http://www.dellustrations.com/templates.html">Renato Inc.</a>
                    </p>
                </div>
            </div>
        </footer>

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </body>
</html>
